button {
  background-color: rgb(228, 181, 164);
  border: transparent;
  margin-left: 10%;
  color: white;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  border-radius: 25px;
  padding: 10px 15px;
  width: 15vw;
  margin-top: 20px;
  cursor: pointer;
}

p {
    margin-bottom: 0;
}

.grey {
  width: 100%;
  height: 20px;
  border-color: transparent;
  background-color: #0000000a;
  padding: 10px;
}

label {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  padding: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 50px;
  
}

.wrp {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  
}
