<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="workshop-description">
        <div>
            <div class="workshop-row">
                <img src="" alt="">
                <img src="" alt="">
            </div>
            <div class="workshop-row">
                <img src="" alt="">
                <img src="" alt="">
            </div>
        </div>
        <div class="workshop-text">
            <h3>Floral Arranging Workshop</h3>
            <h5>$150.00</h5>
            <p>Intro to the art of flower arranging. Learn floristry techniques that are easy and effective and that will take your flowering skills to the next level! This is a beginner-friendly, hands-on experience packed with tips and tricks. Plus you’ll leave with your creations (valued at $200!) to enjoy at home or gift to a loved one! Wine and nibbles are included. Flowers will be fresh and the best seasonal selection available.</p>
            <p>Time: 6:00pm – 8:00pm
                Venue: Twigs and Daisies
                7246 NE Biscayne Blvd, Miami, 33138</p>
            <p>Attendance is limited to 7 people.
                    All are welcome. Class is indoors: rain or shine. Sales are final. No refunds</p>
            <p>Let’s create together and have some fun!</p>
        </div>
    </div>
</body>
</html>