@import 'reset.css';
@import 'bootstrap';
@font-face {
    font-family: 'Corinthia';
    src: url(./fonts/Corinthia-Regular.ttf);
}

:root {
    --color-gentlepink: rgb(228,181,164);
}

body {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;        
}

.big-header-wrapper {
    height: 60px;
    display: flex;
    flex-direction: column; 
    background-color: white;   
}

#navigationWrapper {
    height: 60px;
    width: 100%;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;            
}

.header-scroll {
    background-color: white;
    height: 60px;
    box-shadow: 2px 2px 35px grey; 
}

.header-svg {
    height: 40px;
    width: 40px;
    padding: 8px;
    fill: var(--color-gentlepink);
}

.footer-hr {
    background-color: rgb(228,181,164);
    height: 1px;
    padding: 0;
    margin: 0;
    border: none;
}


// .header-navigation {
//     display: flex;
//     justify-content: space-between;
//     width: 55%;
// }

// .header-navigation > a {
//     background-image: linear-gradient(rgb(228,181,164), rgb(228,181,164));
//     background-position: 0% 100%;
//     background-repeat: no-repeat;
//     background-size: 0% 2px;
//     transition: background-size .3s;
//     text-decoration: none;
//     color: black;
//     padding-right: 2px;
//     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
// }

// .header-navigation > a:hover {
//     background-size: 100% 2px;
// }


// @import './scss/fonts.scss';
// @import './scss/colors.scss';
// @import './scss/typography.scss';
// @import './scss/breakpoints.scss';

// html {
//   line-height: $mainLineHeight;
//   font-size: $mainFontSize;
//   color: $mainFontColor;
//   height: 100%;
// }

// body {
//   margin: 0;
//   padding: 0;
//   font-family: $mainFont;
//   font-size: $mainFontSize;
//   font-weight: $mainFontWeight;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }
